body {
    color:white;
    background-color:black;

}

section {
    height:100vh;

}

nav {
    position:fixed;
    background-color:cyan;
    width:100%;
    top:0;

}



@media screen and (max-height: 450px) {
  #navbar {padding-top: 15px;}
}
